* {
  padding: 0;
  margin: 0;
}
.main-content {
  display: flex;
}
body{
    background-color: #FAFAFA;
}

.sidebar {
  height: 100vh;
  background-color: #ffff;
  width: 200px;
  padding: 0px 10px;
  /* padding-left: 10px;
  padding-right: 10px; */
}

.logo {
  height: 100px;
  /* background-color:#F97316; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  gap: 8px;
}
.logo_title {
  font-size: 20px;
  font-weight: bold;
}
.logo img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.navbar {
  /* background-color: white; */
}

.navlink {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.link {
    font-size: 20px;
    padding: 5px;

}
.link a{
    text-decoration: none;
    color: black;
}

.active{
    background-color: #FFF7ED;
    padding: 5px;
    border-radius: 6px;
}

.link:hover{
    background-color: aliceblue;
    border-radius: 6px;
}

.library-section{
    padding:10px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: aqua; */
    width: 100vw;
    
}


.book-library{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-library button{
    background-color: black;
    color: white;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
}
.books-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.books-title p{
    font-size: 20px;
    font-weight: 600;
}
#book-container{
    display: flex;
    gap: 20px;
}

.book-card{
    background-color: white;
    width: 230px;
    border: 1px solid rgb(113, 113, 113);
    border-radius: 20px;
    overflow: hidden;
}
.book-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.book-desc{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.title{
    font-size: 18px;
    font-weight: 600;
}
.author{
    font-size: 15px;
    font-weight: 500;
}
.desc{
    font-size: 14px;
    color: #666;
}